In [2]:
import pandas as pd

In [4]:
data = pd.read_csv("movies_metadata.csv",low_memory=False)

In [5]:
data.shape

(45466, 24)

In [6]:
data.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [ ]:
data.shape

(45466, 24)

In [ ]:
data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

## Adult

In [ ]:
#data.loc[1,'adult'] ## adult -> convert to boolean
# Here we check for all different values available in the column
data.adult.unique()

array(['False', 'True', ' - Written by Ørnås',
       ' Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.',
       ' Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.'],
      dtype=object)

In [ ]:
data.loc[~data.adult.isin(['False','True']),:]

                                                   adult  ... vote_count
19730                                 - Written by Ørnås  ...        NaN
29503   Rune Balot goes to a casino connected to the ...  ...        NaN
35587   Avalanche Sharks tells the story of a bikini ...  ...        NaN

[3 rows x 24 columns]

In [ ]:
data.adult.unique()
data.adult.value_counts()


data = data.loc[data.adult.isin(['False','True']),:]
data.adult.unique()
data.shape

(45463, 24)

In [ ]:
data.adult = data.adult.map({'True':True,'False':False})
#Convert String to Boolean

# Belongs to Collection

In [ ]:
data.belongs_to_collection.values[0]
#check if it is nan, if it is nan append 0, else convert string to dict and take name

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"

if the value is not nan, then convert string -> dictionary and get id value 
else if value is nan, append 0 to my ids

In [ ]:
import ast
import numpy as np
ast.literal_eval(data.belongs_to_collection.values[0])['id']

10194

In [ ]:
2 == 2

True

In [ ]:
import numpy as np
np.nan == np.nan

False

all elements : (check if that value is ) str -> dict -> id

In [ ]:
import ast
#ast helps us to type convertion

collectionIds = []
for i in data['belongs_to_collection'].values:
    if i != i:
      collectionIds.append(-1)
      continue
    collectionIds.append(ast.literal_eval(i)['id'])

data['collectionId'] = collectionIds
data = data.drop(columns = ['belongs_to_collection'])

In [ ]:
data

       adult    budget  ... vote_count collectionId
0      False  30000000  ...     5415.0        10194
1      False  65000000  ...     2413.0           -1
2      False         0  ...       92.0       119050
3      False  16000000  ...       34.0           -1
4      False         0  ...      173.0        96871
...      ...       ...  ...        ...          ...
45461  False         0  ...        1.0           -1
45462  False         0  ...        3.0           -1
45463  False         0  ...        6.0           -1
45464  False         0  ...        0.0           -1
45465  False         0  ...        0.0           -1

[45463 rows x 24 columns]

# Budget

In [ ]:
#Very good process to convert even if it correct
data.budget = data.budget.astype('int64')
data.budget.describe()

count    4.546300e+04
mean     4.224579e+06
std      1.742413e+07
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      3.800000e+08
Name: budget, dtype: float64

In [ ]:
sum(data.budget == 0)*100/data.shape[0]

80.44563711149726

In [ ]:
data

       adult    budget  ... vote_count collectionId
0      False  30000000  ...     5415.0        10194
1      False  65000000  ...     2413.0           -1
2      False         0  ...       92.0       119050
3      False  16000000  ...       34.0           -1
4      False         0  ...      173.0        96871
...      ...       ...  ...        ...          ...
45461  False         0  ...        1.0           -1
45462  False         0  ...        3.0           -1
45463  False         0  ...        6.0           -1
45464  False         0  ...        0.0           -1
45465  False         0  ...        0.0           -1

[45463 rows x 24 columns]

# Genres

In [ ]:
data.genres.values[0] #pandas -> string, list of dictionaries

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

I want to take 4 genres from the genres columns and contruct 4 columns genre1, genre2, genre3 and genre4 and each column will have an name corresponding to them, when genre is not available, I will map it to id ''

In [ ]:
import ast
index = 0
genreList = [[]]

for gen in data.genres.values:
  genList = ast.literal_eval(gen) ## converts string to list of dictionary
  row = [] # give genres corresponding to that particular movie
  for val in genList:
    row.append(val[name])
  genList.append(row)

data['genreList'] = genList[1:]
data['genre1'] = gen1 #we have identified genre1

In [ ]:
import ast
index = 0
gen1 = []

for gen in data.genres.values:
  genList = ast.literal_eval(gen) ## converts string to list of dictionary
  if len(genList) > index: ##if the list has atleast one genre
    gen1.append(genList[0]['name']) #mark the id of the genre
  else:
    gen1.append('') #mark 0 as the id

data['genre1'] = gen1 #we have identified genre1

In [ ]:
import ast
index = 1
gen2 = []

for gen in data.genres.values:
  genList = ast.literal_eval(gen) #converts string to list
  if len(genList) > index: # checks if the number of genres > 1
    gen2.append(genList[1]['name']) #takes the 2nd genre and appends to a list
  else:
    gen2.append('') #if the genre 2 is not present, append 0

data['genre2'] = gen2

In [ ]:
import ast
index = 2
gen3 = []

for gen in data.genres.values:
  genList = ast.literal_eval(gen)
  if len(genList) > index:
    gen3.append(genList[2]['name'])
  else:
    gen3.append('')

data['genre3'] = gen3

In [ ]:
import ast
index = 3
gen4 = []

for gen in data.genres.values:
  genList = ast.literal_eval(gen)
  if len(genList) > index:
    gen4.append(genList[3]['name'])
  else:
    gen4.append('')

data['genre4'] = gen4

In [ ]:
sum(data.genre4 == '')*100/data.shape[0]

90.3283989178013

In [ ]:
data = data.drop(columns = ['genres'])

In [ ]:
data

       adult    budget  ...    genre3 genre4
0      False  30000000  ...    Family
1      False  65000000  ...    Family
2      False         0  ...
3      False  16000000  ...   Romance
4      False         0  ...
...      ...       ...  ...       ...    ...
45461  False         0  ...
45462  False         0  ...
45463  False         0  ...  Thriller
45464  False         0  ...
45465  False         0  ...

[45463 rows x 27 columns]

## Home Page

In [ ]:
data.homepage.isnull().sum()*100/data.shape[0]

82.88938257484108

In [ ]:
data['homePagePresent'] = (~data.homepage.isnull()) #fasle- if null in home page else true

In [ ]:
data = data.drop(columns = ['homepage'])

# Id

In [ ]:
(data.shape[0] - len(data.id.unique()))
data = data.drop_duplicates(subset = 'id')

In [ ]:
(data.shape[0] - len(data.id.unique()))

0

In [ ]:
data.imdb_id.values[0]
(data.shape[0] - len(data.imdb_id.unique()))
data = data.drop_duplicates(subset = 'imdb_id')

# Original Language

In [ ]:
len(data.original_language.unique())
data.original_language.value_counts()
data.original_language.isnull().sum()
data.loc[data.original_language.isnull(),:]
data = data.dropna(subset = ['original_language'])

In [ ]:
data.columns

Index(['adult', 'budget', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'video', 'vote_average', 'vote_count', 'collectionId', 'genre1',
       'genre2', 'genre3', 'genre4', 'homePagePresent'],
      dtype='object')

# Title

In [ ]:
data.title.isnull().sum(), len(data.title.unique())*100/data.shape[0]

(3, 93.05818614280051)

In [ ]:
data.original_title.isnull().sum(), len(data.original_title.unique())*100/data.shape[0]

(0, 95.4631546491653)

In [ ]:
data = data.drop(columns = ['title'])

In [ ]:
data.original_title
"data science" == "Data Science"

False

1) lower case upper case
2) remove unwanted spaces (data science, data  science)
3) checking spelling mistakes -> for places where there are a lot of chracters (textBlob)
4) handling special characters

In [ ]:
data.original_title = data['original_title'].str.lower()
data.original_title = data['original_title'].str.strip()

In [ ]:
data.original_title

0                          toy story
1                            jumanji
2                   grumpier old men
3                  waiting to exhale
4        father of the bride part ii
                    ...
45461                        رگ خواب
45462            siglo ng pagluluwal
45463                       betrayal
45464            satana likuyushchiy
45465                       queerama
Name: original_title, Length: 45406, dtype: object

# Overview

In [ ]:
data.overview = data.overview.str.lower()
data.overview = data.overview.str.strip()
data.overview

0        led by woody, andy's toys live happily in his ...
1        when siblings judy and peter discover an encha...
2        a family wedding reignites the ancient feud be...
3        cheated on, mistreated and stepped on, the wom...
4        just when george banks has recovered from his ...
                               ...
45461          rising and falling between a man and woman.
45462    an artist struggles to finish his work while a...
45463    when one of her hits goes wrong, a professiona...
45464    in a small town live two brothers, one a minis...
45465    50 years after decriminalisation of homosexual...
Name: overview, Length: 45406, dtype: object

# Popularity

In [ ]:
data.popularity

0         21.9469
1         17.0155
2         11.7129
3         3.85949
4         8.38752
           ...
45461    0.072051
45462    0.178241
45463    0.903007
45464    0.003503
45465    0.163015
Name: popularity, Length: 45406, dtype: object

In [ ]:
data.popularity = data.popularity.astype('float64') ##floating point value
data.popularity.describe()
data.popularity.quantile(0.999)
sum(data.popularity > 50)

37

In [ ]:
##outlier detection - 1) domain knowledge 2) u need to handle them
data.popularity = data.popularity.clip(0,50)
#data = data.loc[(data.popularity > 0) & (data.popularity <= 100),:]

In [ ]:
data.popularity.describe()

count    45403.000000
mean         2.859169
std          4.202630
min          0.000000
25%          0.386396
50%          1.128080
75%          3.680236
max         50.000000
Name: popularity, dtype: float64

# Vote Count and Vote Average

In [ ]:
data.vote_count.describe()
data.vote_count.isna().sum()
data.vote_count[data.vote_count.isnull()] = 0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
data.vote_average = data.vote_average.astype('float64')
data.vote_count = data.vote_count.astype('int64')

In [ ]:
data.vote_count.describe()

count    45406.000000
mean       109.990376
std        491.590432
min          0.000000
25%          3.000000
50%         10.000000
75%         34.000000
max      14075.000000
Name: vote_count, dtype: float64

In [ ]:
data.vote_average.describe()

count    45403.000000
mean         5.619461
std          1.922518
min          0.000000
25%          5.000000
50%          6.000000
75%          6.800000
max         10.000000
Name: vote_average, dtype: float64

# Poster Path

In [ ]:
data.poster_path.values[0] #null value, unique values, file exists in the path or not

'/rhIRbceoE9lR4veEXuwCC2wARtG.jpg'

In [ ]:
data.poster_path.isnull().sum()

381

In [ ]:
import os
os.path.isfile('/rhIRbceoE9lR4veEXuwCC2wARtG.jpg')

False

In [ ]:
data = data.drop(columns = ['poster_path'])

# Production Companies

In [ ]:
data = data[~data.production_companies.isnull()]

In [ ]:
data.production_companies.values[0]

"[{'name': 'Pixar Animation Studios', 'id': 3}]"

In [ ]:
import ast
index = 0
prod1 = []

for prod in data.production_companies.values:
  prodList = ast.literal_eval(prod)
  if len(genList) > index:
    prod1.append(prodList[index]['name'])
  else:
    prod1.append('')

data['Producer1'] = prod1

In [ ]:
import ast
index = 1
prod2 = []

for prod in data.production_companies.values:
  prodList = ast.literal_eval(prod)
  if len(genList) > index:
    prod2.append(prodList[index]['name'])
  else:
    prod2.append('')

data['Producer2'] = prod2

In [ ]:
data = data.drop(columns = ['production_companies'])

# Release Dates

In [ ]:
data.release_date.values[0]

'1995-10-30'

In [ ]:
data.release_date.isnull().sum()

81

In [ ]:
data.release_date

0        1995-10-30
1        1995-12-15
2        1995-12-22
3        1995-12-22
4        1995-02-10
            ...
45461           NaN
45462    2011-11-17
45463    2003-08-01
45464    1917-10-21
45465    2017-06-09
Name: release_date, Length: 45403, dtype: object

In [ ]:
data = data.dropna(subset = ['release_date'])

In [ ]:
data.release_date = pd.to_datetime(data.release_date, format='%Y-%m-%d', errors='ignore')

In [ ]:
data.release_date

0       1995-10-30
1       1995-12-15
2       1995-12-22
3       1995-12-22
4       1995-02-10
           ...
45460   1991-05-13
45462   2011-11-17
45463   2003-08-01
45464   1917-10-21
45465   2017-06-09
Name: release_date, Length: 45322, dtype: datetime64[ns]

In [ ]:
import datetime
dateString = '25-07-2021'
date = datetime.datetime.strptime(dateString, "%d-%m-%Y") #string to datetime
# date + datetime.timedelta(days = 15)
date.strftime("%d-%B-%y") #datetime -> string

'25-July-21'

# Revenues

In [ ]:
data.revenue = data.revenue.astype('int64')

In [ ]:
data.revenue.describe()

count    4.532200e+04
mean     1.123960e+07
std      6.442643e+07
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      2.787965e+09
Name: revenue, dtype: float64

In [ ]:
sum(data.revenue == 0)*100/data.shape[0]

83.67900798729094

# RunTime

In [ ]:
data.runtime = data.runtime.astype('float64')
data.runtime.describe()

count    45078.000000
mean        94.193753
std         38.336989
min          0.000000
25%         85.000000
50%         95.000000
75%        107.000000
max       1256.000000
Name: runtime, dtype: float64

In [ ]:
data.loc[data.runtime > 300,:]

       adult     budget      id  ... homePagePresent Producer1 Producer2
6747   False          0   42044  ...           False
7415   False          0  140207  ...           False
7420   False          0   11659  ...           False
7933   False          0   36627  ...           False
8635   False  100000000   29266  ...           False
...      ...        ...     ...  ...             ...       ...       ...
44176  False          0  444623  ...           False
44464  False          0  197854  ...           False
44721  False          0  458298  ...            True
44758  False          0  128733  ...           False
45462  False          0  111109  ...           False

[107 rows x 26 columns]

# Spoken Languages

In [ ]:
data.spoken_languages

0                 [{'iso_639_1': 'en', 'name': 'English'}]
1        [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2                 [{'iso_639_1': 'en', 'name': 'English'}]
3                 [{'iso_639_1': 'en', 'name': 'English'}]
4                 [{'iso_639_1': 'en', 'name': 'English'}]
                               ...
45460             [{'iso_639_1': 'en', 'name': 'English'}]
45462                    [{'iso_639_1': 'tl', 'name': ''}]
45463             [{'iso_639_1': 'en', 'name': 'English'}]
45464                                                   []
45465             [{'iso_639_1': 'en', 'name': 'English'}]
Name: spoken_languages, Length: 45322, dtype: object

In [ ]:
import ast
totalLanguages = []

for prod in data.spoken_languages.values:
  prodList = ast.literal_eval(prod) #converting from string to list of dictionary 
  totalLanguages.append(len(prodList)) #how many languages spoken?

data['TotalLanguages'] = totalLanguages

In [ ]:
data = data.drop(columns = ['spoken_languages'])

# Status

In [ ]:
data.status.value_counts()

Released           44886
Rumored              226
Post Production       97
In Production         19
Planned               13
Canceled               1
Name: status, dtype: int64

In [ ]:
data.columns

Index(['adult', 'budget', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'production_countries',
       'release_date', 'revenue', 'runtime', 'status', 'tagline', 'video',
       'vote_average', 'vote_count', 'collectionId', 'genre1', 'genre2',
       'genre3', 'genre4', 'homePagePresent', 'Producer1', 'Producer2',
       'TotalLanguages'],
      dtype='object')

# Others

In [ ]:
data.tagline.isnull().sum()

24936

In [ ]:
data.video.value_counts()

False    45233
True        89
Name: video, dtype: int64

In [ ]:
data = data.drop(columns = ['production_countries'])

# Final Data

In [ ]:
data

       adult    budget      id  ... Producer1 Producer2 TotalLanguages
0      False  30000000     862  ...                                  1
1      False  65000000    8844  ...                                  2
2      False         0   15602  ...                                  1
3      False  16000000   31357  ...                                  1
4      False         0   11862  ...                                  1
...      ...       ...     ...  ...       ...       ...            ...
45460  False         0   30840  ...                                  1
45462  False         0  111109  ...                                  1
45463  False         0   67758  ...                                  1
45464  False         0  227506  ...                                  0
45465  False         0  461257  ...                                  1

[45322 rows x 23 columns]

In [ ]:
data.shape

(45322, 24)

In [ ]:
dataBudgetRevenue  = data.loc[(data.budget != 0) & (data.revenue != 0),:]
dataBudgetRevenue

       adult    budget      id  ... Producer1 Producer2 TotalLanguages
0      False  30000000     862  ...                                  1
1      False  65000000    8844  ...                                  2
3      False  16000000   31357  ...                                  1
5      False  60000000     949  ...                                  2
8      False  35000000    9091  ...                                  1
...      ...       ...     ...  ...       ...       ...            ...
45250  False  12000000   24049  ...                                  2
45399  False    750000  280422  ...                                  1
45409  False    800000   62757  ...                                  1
45412  False   2000000   63281  ...                                  1
45422  False   5000000   63898  ...                                  1

[5375 rows x 23 columns]

In [ ]:
# dataBudgetRevenue.to_csv('finalCleanedData.csv')
# dataBudgetRevenue.columns
dataBudgetRevenue['profit'] = (dataBudgetRevenue.revenue - dataBudgetRevenue.budget)/dataBudgetRevenue.budget
#dataBudgetRevenue['profit%'].describe()
dataBudgetRevenue['profit'] = dataBudgetRevenue['profit'].clip(-1,100)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

1. Profit = (Revenue - Budget)/Budget
2. Do the movies that have high vote_avergae make lot of profits ? 
3. What genres make the most money?
4. Which producers generally do well? 
5. Is there a bias with producers in terms of genres that they do - Do specific producer only produce specific genre movies?
6. Will a longer run time bring higher profits?
7. Does the presence of a homepage indicate higher profits
8. Which languages rakes in high profit
9. Over a period of time, how have the profitability changed - Over the period of time, which genre of movies have grossed well ? 
10. If the movie speaks multiple languages, is the profit % higher?